{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h4>Ajout d'un site</h4>
        <form action="{{url_for('site')}}" method="post">
            {% for field in siteform %}
                <div class="mb-3">{{field.label}} {{field}}</div>
            {% endfor %}
            <div class="mb-3 text-center">
    <input type="reset" class="btn btn-sm btn-warning">
                <input class="btn btn-sm btn-success" value="Enregistrer" type="submit">
            </div>
        </form>
    </div>
</div>


{% endblock %}