{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="d-flex justify-content-between">
            <div class="w-50">
                <h4>Listes des articles </h4>
            </div>
            <div>
                    <a href="{{url_for('article')}}" class="btn btn-sm btn-success">Ajouter un article</a>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mx-auto">

        <table class="table">
            <thead>
            <tr>
                <th>Désignation</th>
                <th>reference</th>
                <th>prix</th>
                <th>fournisseur</th>
                <th>info</th></tr>
            </thead>
            <tbody>{% for materiel in toto.items %}
            <tr>
                <td><a class="text-dark" href="{{url_for('article_update', article_id=materiel.id)}}">{{materiel.designation}}</a></td>
                <td>{{materiel.reference}}</td>
                <td>{{materiel.prix}}</td>
                <td>{{materiel.fournisseur}}</td>
                <td>{{materiel.info}}</td>
                <td><a href="{{url_for('article_delete', article_id=materiel.id)}}"><span style="color:red; font-weight:bold">X</span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<div class="row">
    <div class="col-md-10 mx-auto text-center">
        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if toto.prev_num %}
    <li class="page-item"><a class="page-link" href="{{url_for('articles', page=toto.prev_num)}}">Previous</a></li>
      {% endif%}
  {%- for page in toto.iter_pages() %}
    {% if page %}
      {% if page != toto.page %}
        <li class="page-item"><a class="page-link" href="{{ url_for('articles', page=page) }}">{{ page }}</a></li>
      {% else %}
        <li class="page-item page-link"><strong>{{ page }}</strong></li>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}

      {% if toto.next_num %}
    <li class="page-item"><a class="page-link" href="{{url_for('articles', page=toto.next_num)}}">Next</a></li>
      {% endif %}

  </ul>
</nav>
    </div>
</div>


{% endblock %}